.header{
  height:70px;
  background-color: dodgerblue;
  .logo{
    font-size: 2.6em;    
    font-family: monospace;
    font-style: italic;
    color:#fff;
  }
}

.footer{
  background-color: dodgerblue;
  position: fixed;
  bottom:0px;
  width:100%;
  .note{
    display: inline-block;
    width:100%;
    color:#fff;
  }
}

.error-page{
  .oops{
    font-size: 10em;    
  }
  .message{
    font-size: 1.6em;
  }
}

.loading{
  position: fixed;
  top:50%;
  left:50%;
  .spinner {   
    border: 5px solid #f3f3f3;  
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.blank-space-10{
  height:10px;
  clear:both;
}